<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="/static/css/style.css" rel="stylesheet">
		<title>Economics Prism</title>
	</head>
	<body>
		<div class="main">
			<p>Загрузите таблицу Excel с вводными данными для построения модели</p>
			<h3>Пример таблицы</h3>
			<img src="/static/img/example.png">
			<form action="/" method="post" enctype="multipart/form-data">
				<input type="file" name="file">
				<button type="submit">Загрузить</button>
			</form>
		</div>
	</body>
</html>
